# Importing the required modules

In [2]:
import pandas as pd

# Importing the height dataset to pandas

In [3]:
df=pd.read_csv("C:/Users/hp/Desktop/projects/future-engineering/height.csv")

# Data analysis

In [6]:
print (df)

       name  height
0     mohan     5.9
1     maria     5.2
2     sakib     5.1
3       tao     5.5
4     virat     4.9
5    khusbu     5.4
6    dmitry     6.2
7    selena     6.5
8      john     7.1
9     imran    14.5
10     jose     6.1
11  deepika     5.6
12   yoseph     1.2
13    binod     5.5

In [7]:
df.head()

    name  height
0  mohan     5.9
1  maria     5.2
2  sakib     5.1
3    tao     5.5
4  virat     4.9

In [9]:
df.shape

(14, 2)

In [10]:
df.describe()

          height
count  14.000000
mean    6.050000
std     2.779804
min     1.200000
25%     5.250000
50%     5.550000
75%     6.175000
max    14.500000

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    14 non-null     object
 1   height  14 non-null     float64
dtypes: float64(1), object(1)
memory usage: 352.0+ bytes

# Revoming outliers using percentile

In [20]:
max_thresold = df['height'].quantile(0.95)
min_thresold = df['height'].quantile(0.05)

print ("The maximum value should be: " + str(max_thresold))
print ("The minimum value should be: " + str(min_thresold))

The maximum value should be: 9.689999999999998
The minimum value should be: 3.6050000000000004

In [34]:
#method 1 of detecting printing outliers within a dataset

print (df[df['height']>max_thresold])
print (df[df['height']<min_thresold])

    name  height
9  imran    14.5
      name  height
12  yoseph     1.2

In [37]:
# Another method of detecting the outliers within a dataset.
for i in df.index:
    if df.loc[i, "height"] > max_thresold:
        print ("The value(s) that are above the maximum thresold are: "+ str(df.loc[i, "height"]))
        
    elif df.loc[i, "height"] < min_thresold:
        print ("The value(s) that are below the minimum thresold are: " + str(df.loc[i, "height"]))

The value(s) that are above the maximum thresold are: 14.5
The value(s) that are below the minimum thresold are: 1.2

In [50]:
newdf= df[(df['height'] < max_thresold) & (df['height'] > min_thresold)]
print (newdf)

       name  height
0     mohan     5.9
1     maria     5.2
2     sakib     5.1
3       tao     5.5
4     virat     4.9
5    khusbu     5.4
6    dmitry     6.2
7    selena     6.5
8      john     7.1
10     jose     6.1
11  deepika     5.6
13    binod     5.5

In [53]:
newdf.shape

(12, 2)